-e .
aws-cdk.core
aws-cdk.aws-ec2
aws-cdk.aws-iam
aws-cdk.aws-logs
aws-cdk.aws-guardduty
aws-cdk.aws-cloudtrail
aws-cdk.aws-s3
aws-cdk.aws-config
aws-cdk.aws-kms
aws-cdk.aws-sns
aws-cdk.aws-securityhub
aws-cdk.aws-cloudwatch
aws-cdk.aws-guardduty
aws-cdk.aws-cloudwatch_actions
aws-cdk.cloudformation_include
aws-cdk.aws-events
aws-cdk.aws-events-targets
pylint
pep8
